<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConString"
		connectionString="Data Source=DESKTOP-02RK9HN\QUADRATESQL; Initial Catalog=EmployeeDB ;Integrated Security=true; MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>